@font-face {
   font-family: "Raleway-Bold";
   src: url("../fonts/Raleway-Bold/Raleway-Bold.eot"); 
   src: url("../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Raleway-Bold/Raleway-Bold.otf") format("opentype"), 
     url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"), 
     url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), 
     url("../fonts/Raleway-Bold/Raleway-Bold.woff2") format("woff2"); 
   font-weight: normal;
   font-style: normal;
}


@font-face {
   font-family: "Raleway-Medium";
   src: url("../fonts/Raleway-Medium/Raleway-Medium.eot"); 
   src: url("../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Raleway-Medium/Raleway-Medium.otf") format("opentype"), 
     url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"), 
     url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"), 
     url("../fonts/Raleway-Medium/Raleway-Medium.woff2") format("woff2"); 
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Raleway-Regular";
   src: url("../fonts/Raleway-Regular/Raleway-Regular.eot"); 
   src: url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), 
     url("../fonts/Raleway-Regular/Raleway-Regular.otf") format("opentype"), 
     url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), 
     url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), 
     url("../fonts/Raleway-Regular/Raleway-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Raleway-SemiBold";
   src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot"); 
   src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), 
     url("../fonts/Raleway-SemiBold/Raleway-SemiBold.otf") format("opentype"), 
     url("../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf") format("truetype"), 
     url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff") format("woff"), 
     url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff2") format("woff2"); 
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lato-Regular";
   src: url("../fonts/Lato-Regular/Lato-Regular.eot"); 
   src: url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"),
     url("../fonts/Lato-Regular/Lato-Regular.otf") format("opentype"), 
     url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), 
     url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), 
     url("../fonts/Lato-Regular/Lato-Regular.woff2") format("woff2"); 
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lato-Bold";
   src: url("../fonts/Lato-Bold/Lato-Bold.eot"); 
   src: url("../fonts/Lato-Bold/Lato-Bold.eot?#iefix") format("embedded-opentype"), 
     url("../fonts/Lato-Bold/Lato-Bold.otf") format("opentype"), 
     url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype"), 
     url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), 
     url("../fonts/Lato-Bold/Lato-Bold.woff2") format("woff2"); 
   font-weight: normal;
   font-style: normal;
}

@mixin RalewayBold {
   font-family: "Raleway-Bold";
}

@mixin RalewayMedium {
   font-family: "Raleway-Medium";
}

@mixin RalewayRegular {
   font-family: "Raleway-Regular";
}

@mixin RalewaySemiBold {
   font-family: "Raleway-SemiBold";
}

@mixin LatoRegular {
   font-family: "Lato-Regular";
}

@mixin LatoBold {
   font-family: "Lato-Bold";
}

